@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<form asp-controller="DSchatCon" asp-action="Kerko1" method="get">
    <p>
        Parashtroje pyetjen:<br /> <textarea name="Teksti" rows="6" cols="148"></textarea>
        @* <input type="text" name="Teksti1" /> *@
        <br />
        <input type="submit" value="Kërko" />
    </p>
</form>
<p style="border-width:1px; border-style:solid; border-color:#FF0000; padding: 1em;">@ViewBag.Answer</p>
