h2 {
    text-align: center;
}

p,
ul {
    font-size: 18px;
    line-height: 1.6;
}

h3 {
    margin-top: 20px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
    font-weight: bold;
}

strong {
    color: #000;
}

span {
    font-weight: bold;
}